.title {
}

.selectBefore {
  width: 110px;
}

.param {
  height: 300px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
}

.panes {
  height: 230px;
  overflow: auto;
  //border-bottom: 1px solid #d8d8d8;
}

.bodyTab {
  height: 300px;
}

.editable-row {
}

.paramTable {

  :global {
    .ant-table-tbody {
      .ant-table-cell {
        padding: 0 !important;
      }

      input {
        height: 32px;
        border: 1px solid #ffffff;
      }
    }
  }
}

.sendButton {

  :global {
    .ant-btn-primary {
      background: #4372e6;
      border-color: #4372e6;
      border-left-color: #3e6ad6 !important;
      border-right-color: #3e6ad6 !important;
    }

  }

}